@mixin flex($display, $content, $align){
    display: $display;
    @if $content!=0 && $align ==0
    {
    justify-content: $content;
    }@else if $align !=0 && $content ==0
    {
        align-items: $align;
    }@else if $content !=0 && $align !=0{
        justify-content: $content;
        align-items: $align;
    }
}

@mixin img-size($height, $width){
    height: $height;
    width: $width;
}