$primary-color: rgb(255, 0, 0);
$secondary-text-color: white;
$text-alignement: center;
$bg-color-primary: white;
$primary-margin: 20px;
$top-bottom-margin: 10px;
$border-radius:5px;
$secondary-margin:5px;