@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "variable";
@import "header";
@import "footer";
@import "mixin";

body {
  background-color: $bg-color-primary;
}

h2 {
  font-size: 30px;
  margin: $primary-margin;
  margin-top: $top-bottom-margin;
}
p {
  font-size: 16px;
  line-height: $primary-margin;
  margin: $primary-margin;
}
.part {
  background-color: rgb(223, 223, 223);
  border-left: 0.5em solid $primary-color;
  border-radius: $border-radius;
  padding-top: $top-bottom-margin;
  padding-bottom: $top-bottom-margin;
}
.secondPart {
  text-align: $text-alignement;
}
.column {
  margin-left: $primary-margin;
  img {
    @include img-size(5em, 5em);
    border-radius: (100/1.111) * 1%;
    margin: auto;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  p,
  h3,
  a {
    width: (100/1.61) * 1%;
    text-align: $text-alignement;
    margin: auto;
    margin-bottom: (100/25) * 1%;
  }
  a {
    background-color: $primary-color;
    border: 2px solid $secondary-text-color;
    border-radius: $border-radius;
    padding: $secondary-margin $top-bottom-margin;
    text-decoration: none;
    color: $secondary-text-color;
    width: (100/2) * 1%;
    text-align: $text-alignement;
    display: block;
    margin: 0 auto;
  }
}

.citation {
  font-size: 21px;
  margin: 25px;
  color: rgb(59, 59, 59);
  a {
    text-decoration: none;
    color: purple;
  }
}

.iframe {
  text-align: $text-alignement;
}
